{% extends 'bookpage/base.html' %}

{% block content %}
    <form action="" method="get" class="filter2">
        <label><input name="filter" value="{{ request.GET.query }}" type="checkbox"></label>
        <label><input name="filter" value="{{ request.GET.query }}" type="checkbox"></label>
        <label><input name="filter" value="{{ request.GET.query }}" type="checkbox"></label>
        <label><input name="filter" value="{{ request.GET.query }}" type="checkbox"></label>
        <button type="submit">検索する</button>
    </form>
    <div class="booklist">
        {% for manga in object_list %}
            <div class="book">
                <img src="{{ manga.img }}" class="image" >
                <div cass="text">    
                    <h2 class="title">{{ manga.title }}</h2>
                    <p class="salesday">{{ manga.publish_date }}</p>
                    <p class="author">{{ manga.author }}</p>
                    <p class="publisher">{{ manga.publisher }}</p>
                </div>
            </div>
        {% endfor %}
    </div> 
{% endblock %}