{% load static %}
<html>
    <head>
        <title>Book Page</title>
        <link rel="stylesheet" href="{% static 'css/bookpage.css' %}">
        <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    </head>
    <body>
        <div class="page-header">
            <h1 class=""><a href="/">Book Page</a></h1>
            <form action="" method="get" class="search">
                <input name="query" value="{{ request.GET.query }}" type="text" placeholder="type to search">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>