{% extends 'bookpage/base.html' %}

{% block content %}
    <form action="" method="post" class="filter">{% csrf_token %}
        <label><input name="filter" value="集英社" type="checkbox">集英社</label>
        <label><input name="filter" value="講談社" type="checkbox">講談社</label>
        <label><input name="filter" value="KADOKAWA" type="checkbox">KADOKAWA</label>
        <label><input name="filter" value="スクウェア・エニックス" type="checkbox">スクウェア・エニックス</label>
        <label><input name="filter" value="" type="checkbox"></label>
        <button type="submit">Filter</button>
    </form>
    <div class="booklist">
        {% for manga in object_list %}
            <div class="book">
                <img src="{{ manga.img }}" class="image" >
                <div cass="text">    
                    <h2 class="title">{{ manga.title }}</h2>
                    <p class="salesday">{{ manga.publish_date }}</p>
                    <p class="author">{{ manga.author }}</p>
                    <p class="publisher">{{ manga.publisher }}</p>
                </div>
            </div>
        {% endfor %}
    </div> 
{% endblock %}